<h1>
    Welcome World!
</h1>

<form action="{% url 'count' %}">
    <p>Please input text below</p>
    <textarea name="fulltext" autofocus="true" cols="40" rows="4"></textarea>
    <br>
    <input type="submit" value="Submit">
</form>
<a href="{% url 'help' %}">Help</a>